
.music-player-overlay-wrapper {
    position: fixed;
    bottom: 50%;
    right: 3px;
    z-index: 10;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    width: 555px;
    max-width: calc(100%);
    height: 400px;
    box-shadow: 15px 15px 45px rgba(0, 0, 0, 0.51);
}

.music-player-overlay-controls {
    height: auto;
    width: 45px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    cursor: grab;
}

.behind-music-player-overlay-controls {
    height: auto;
    width: 42px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    position: fixed;
    display: flex;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    height: 290px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.behind-music-player-overlay-controls div,
.music-player-overlay-controls div {
    margin: 0.2rem 0;
}

.youtube-player-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    vertical-align: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: grab;
}



.youtube-disable-clicking {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    opacity: 0;
    transition: 0.1s;
}

.youtube-disable-clicking:hover {
    opacity: 1;
}

.music-overlay-volume-container {
    position: absolute;
    z-index: 5;
    left: -39px;
    bottom: 148px;
    padding-left: 4px;
    width: 100px;
    height: 30px;
    transform: rotate(-90deg);
}


.music-overlay-volume-container div {
    width: 100px;
    height: 50px;
    padding: 0px 5px;
    border-radius: var(--border-radius);
}

.music-overlay-search-container {
    position: absolute;
    z-index: 7;
    bottom: calc(50% - 66px);
    padding: 0 20px;
    border-radius: var(--border-radius);
    width: 248px;
    height: 35px;
}

