
.music-player-overlay-wrapper {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 3px;
    z-index: 5;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    width: 455px;
    max-width: 1600px;
    max-height: 900px;
    transition: 0.2s;
    height: 300px;
}

.music-player-overlay-controls {
    height: auto;
    width: 55px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    justify-content: flex-start;
}

.music-player-overlay-controls div {
    margin: 0.2rem 0;
}

.youtube-player-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}



.youtube-disable-clicking {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    opacity: 0;
    transition: 0.1s;
}

.youtube-disable-clicking:hover {
    opacity: 1;
}

.music-overlay-volume-container {
    position: absolute;
    z-index: 5;
    bottom: calc(50% - 132px);
    padding: 0 20px;
    width: 130px;
}

.music-overlay-volume-container div {
    width: 120px;
    border-radius: var(--border-radius);
}

.music-overlay-search-container {
    position: absolute;
    z-index: 5;
    bottom: calc(50% - 69px);
    padding: 0 20px;
    border-radius: var(--border-radius);
    width: 248px;
    height: 35px;
}

