
.music-player-overlay-wrapper {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 3px;
    z-index: 4;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    width: 455px;
    transition: 0.2s;
    height: 300px;
}

.music-player-overlay-controls {
    height: auto;
    width: 55px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    justify-content: flex-start;
}

.music-player-overlay-controls div {
    margin: 0.2rem 0;
}

.music-player-overlay-controls svg {
    width: 40px;
    height: 40px;
}

.youtube-player-wrapper {
    position: relative;
    width: 400px;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.youtube-disable-clicking {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.music-overlay-volume-container {
    position: absolute;
    z-index: 5;
    bottom: calc(50% - 140px);
    padding: 0 20px;
    width: 130px;
}

.music-overlay-volume-container div {
    width: 120px;
    border-radius: var(--border-radius);
}

.music-overlay-search-container {
    position: absolute;
    z-index: 5;
    bottom: calc(50% - 65px);
    padding: 0 20px;
    border-radius: var(--border-radius);
    width: 248px;
    height: 35px;
}