.screen-button-container {
    width: 48%;
    height: 200px;
    margin: 4px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    border-radius: var(--border-radius);
}

.screen-button-container p {
    z-index: 5;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    text-align: center;
}