.screen-button-container {
    width: 145px;
    height: 145px;
    margin: 2.5px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    border-radius: var(--border-radius);
}

.screen-button-container p {
    z-index: 5;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    text-align: center;
    white-space: nowrap;
}

.screen-app-icon-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    display: flex;
    z-index: 2;
}