

.channel-button-container {
    width: calc(100% - 5px);
    margin-left: 5px;
    height: calc(34px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 5px;
}

.channel-button-container h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    word-wrap: normal;
    word-break: keep-all;
}

.channel-button-extra-context-wrapper {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    right: 9px;
    width: 50px;
    height: 100%;
}

.unread-message-indicator {
    flex-shrink: 0;
    width: 3px;
    height: 33px;
    top: 0px;
    left: -20px;
    z-index: 1;
    margin-left: 15px;
    position: absolute;
}

.channel-status-icon-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 34px;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
}
