

.channel-button-container {
    width: calc(100% - 25px);
    height: calc(33px - 8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-top: 2px;
    margin-left: 12px;
    position: relative;
    padding: 0 3px;
}

.channel-button-container h3 {
    font-size: 0.8rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    letter-spacing: var(--font-spacing);
    white-space: nowrap;
    word-wrap: normal;
    word-break: keep-all;
}

.channel-button-extra-context-wrapper {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    right: 3px;
    width: 50px;
    height: 100%;
}

.unread-message-indicator {
    flex-shrink: 0;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    top: 8px;
    left: -21px;
    z-index: 1;
    margin-left: 5px;
    position: absolute;
}

.channel-status-icon-container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    width: 33px;
}
