
.channel-button-container {
    width: calc(100% - 8px - 4%);
    height: calc(55px - 8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
    margin-bottom: 2%;
    padding: 0 2%;
}


.channel-button-container h3 {
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: var(--font-spacing);
}

