
.channel-title-container {
    width: calc(100% - 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    margin-right: -5%;
    padding: 0 5%;
}

.channel-title-container h3 {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: var(--font-spacing);
}