
.channel-title-container {
    width: calc(85%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}

.channel-title-container h3 {
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: var(--font-spacing);
}