
.channel-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    padding: 5px 0;
    z-index: 3;
    box-shadow: black 0px 3px 10px -3px;
    position: absolute;
    top: 145px;
}

.channel-title-container h3 {
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: var(--font-spacing);
    cursor: default;
    margin-left: 5px;
}

.channel-title-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    height: 100%;
    margin-right: 3px;
}