.title-bar {
    margin: 2px 2px 0 2px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    width: calc(100% - 24px);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

