
.toggle-button-container {
    width: calc(45px - 6px);
    display: flex;
    height: calc(30px - 18px);
    border-radius: var(--border-radius);
    align-items: center;
    padding: 5px;
    align-self: flex-start;
    cursor: pointer;
    transition: 0.1s;
}

.toggle-button-container .switch {
    width: 15px;
    height: 15px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
}


