
.toggle-button-container {
    width: calc(85px - 8px + 10px);
    display: flex;
    height: calc(55px - 18px);
    border-radius: var(--border-radius);
    align-items: center;
    padding: 5px;
    align-self: flex-start;
    cursor: pointer;
}

.toggle-button-container .switch {
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
}


