
.toggle-button-container {
    width: calc(55px - 6px + 10px);
    display: flex;
    height: calc(40px - 18px);
    border-radius: var(--border-radius);
    align-items: center;
    padding: 5px;
    align-self: flex-start;
    cursor: pointer;
}

.toggle-button-container .switch {
    width: 24px;
    height: 24px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
}


