.container {
    height: calc(100vh - 40px);
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex: 1;
    overflow: hidden;
    z-index: 1;
    transition: background-color 0.5s ease-in;
}

.expandedContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 1fr repeat(auto-fit, 110px);
    align-items: center;
    justify-items: center;
    gap: 5px;
}

.popout {
    /* position: fixed;
    width: var(--sidebar-width, 250px) !important;
    height: calc(var(--sidebar-width, 250px) * 9 / 16) !important;
    right: 2px;
    margin-top: 0px;
    bottom: 0px; */
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    background-color: black;
}

@media screen and (max-width: 730px) {
    .container {
        height: calc(100vh - var(--mobile-bottom-padding) - 55px);
        padding-bottom: var(--mobile-bottom-padding);
    }
}