
.create-server-button-container {
    width: 45px;
    border-radius: 50%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    margin-top: 4px;
}

.create-server-button-container:hover {
    border-radius: 10px;
}

.create-server-button-container h3 {
    font-size: 1.2rem;
    letter-spacing: var(--font-spacing);
    font-weight: 400;
}

