
.container {
    width: 100%;
    height: auto;
    background-color: var(--card-background-color);
    margin-top: 2px;
    border-radius: 0px 0px 10px 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}

