
.message-input-wrapper {
    position: relative;
    bottom: 0px;
    width: 100%;
    flex-shrink: 0;
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    padding: 5px 0 8px 0;
    z-index: 5;
}

.message-input-container {
    bottom: 5px;
    width: calc(100% - 10px);
    height: 60px;
    flex-shrink: 0;
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    align-content: center;
    border-radius: var(--border-radius);
}

#image-drop-listener {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 8px);
    height: calc(100% - 10px);
    z-index: 199;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-drop-listener:active {
    outline: none;
}

.message-input-button-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: .5rem;
}

.message-input-button-wrapper div svg:focus {
    outline: none;
}

.message-input-container textarea {
    width: calc(100%);
    height: calc(100% - 20px);
    object-fit: contain;
    background-color: transparent;
    font-size: 12px;
    border: none;
    margin: 0 0 0 0.5rem;
    padding: 10px 0;
    font-weight: 400;
    letter-spacing: var(--font-spacing);
    font-family: var(--font-variable);
}

.message-input-container textarea:focus {
    outline: none;
}

.input-character-count {
    width: 40px;
    padding: 0 5px;
}

.input-character-count p {
    font-size: 0.7rem;
    opacity: 0.6;
}


