
.message-input-wrapper {
    position: relative;
    bottom: 0px;
    width: 100%;
    flex-shrink: 0;
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0 3px 0;
    z-index: 5;
    margin-left: 10px;
    padding-bottom: 10px;
}

.message-input-container {
    bottom: 3px;
    width: calc(100% - 20px);
    height: 32px;
    flex-shrink: 0;
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    align-content: center;
    border-radius: var(--border-radius);
    transition: 0.1s;
    padding-top: 2px;
}

.image-social-post-preview {
    width: calc(100% - 16px);
    padding-bottom: 15px;
    margin-bottom: -6px;
    max-height: 200px;
    z-index: 1;
    object-fit: contain;
    display: flex;
    justify-content: flex-start;
    border-radius: var(--border-radius);
    position: relative;
    margin-left: 0px;
    flex-direction: column;
    
}

.image-post-preview-file-name {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    bottom: 5px;
    margin-left: 5px;
    z-index: 2;
    margin-top: 3px;
}

.inner-image-preview-social-wrapper {
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 4px;
    width: auto;
    overflow: hidden;
}

.image-prev-cancel-hover-effect {
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 2;
    width: auto;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    flex-direction: column;
    border-radius: 5px;
}

#image-drop-listener {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100%);
    height: calc(100%);
    z-index: 199;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-drop-listener:active {
    outline: none;
}

.message-input-button-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 3px;
}

.message-input-inner-button-wrapper {
    display: flex;
    height: 32px;
    width: auto;
    align-items: center;
}

.message-input-button-wrapper div svg:focus {
    outline: none;
}

.message-input-container textarea {
    width: calc(100%);
    height: calc(100% - 5px - 4px);
    object-fit: contain;
    background-color: transparent;
    font-size: 15px;
    border: none;
    margin: 0 0 0 0.5rem;
    padding: 5px 0 4px 0px;
    font-weight: 400;
    letter-spacing: var(--font-spacing);
    font-family: var(--font-variable);
}

.message-input-container textarea:focus {
    outline: none;
}

.input-character-count {
    width: 40px;
    padding: 0 5px;
}

.input-character-count p {
    font-size: 0.7rem;
    opacity: 0.6;
}
.local-error-alert-social {
    bottom: 42px;
    position: absolute;
    font-size: 1rem;
    left: 5px;
    padding: 0px;
    margin: 0;
    opacity: 0.8;
    font-size: 0.8rem;
}

.compressing-image-container-status-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    margin: 5px 0px 0px 5px;
}

.compressing-image-container-status-indicator h3,
.compressing-image-container-status-indicator h4 {
    text-align: center;
    margin: 0;
    padding: 0;
}