
.message-input-container {
    position: relative;
    bottom: 10px;
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    align-content: center;
}

.message-input-button-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: .5rem;
}

.message-input-button-wrapper div svg:focus {
    outline: none;
}

.message-input-container textarea {
    width: calc(100%);
    height: calc(100% - 20px);
    object-fit: contain;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: transparent;
    font-size: 33px;
    border: none;
    margin: 0 0 0 0.5rem;
    padding: 10px 0;
    font-weight: 400;
    letter-spacing: var(--font-spacing);
    font-family: var(--font-variable);
}

.message-input-container textarea:focus {
    outline: none;
}

.input-character-count {
    width: 40px;
    padding: 0 5px;
}

.input-character-count p {
    font-size: 0.7rem;
    opacity: 0.6;
}


