
.key-bind-input-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 80px;
    align-items: center;
    position: relative;
    
}

.key-bind-input-wrapper .text-button {
    flex-grow: 0;
    width: 50px;
}

.key-bind-input-wrapper .text-input-container {
    flex-grow: 4;
    margin-right: 5px;
    max-width: 150px;
}

.key-bind-input-wrapper .text-input-container input {
    text-align: center;
    font-size: 1.4rem;
}