
.radio-button-container {
    display: flex;
    justify-content: flex-start;
    width: calc(100% - 1rem);
    height: 30px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 3px;
    padding: 0.5rem;
    border-radius: var(--border-radius);
}

.radio-button-container h3 {
    font-weight: 400;
    letter-spacing: var(--font-spacing);
    margin-left: 1rem;
    text-transform: capitalize;
    font-size: 1rem;
}
