
.screen-share-menu {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    position: fixed;
    width: 500px;
    height: 500px;
    bottom: 58px;
    left: 0;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: space-around;
    padding: 15px;
}

.screen-share-menu h3 {
    font-weight: 400;
    width: 100%;
    margin: 15px 0px 5px 10px;
    text-align: left;
    letter-spacing: var(--font-spacing);
    position: absolute;
    top: 0;
    left: 0;
}

