
.outer-screen-select-container {
    border-radius: 8px;
    top: 0;
    left: 0;
}
.screen-share-menu {
    border-radius: 8px;
    
    width: 500px;
    height: 500px;
    max-height: calc(100% - 150px);
    left: 55px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
    padding: 5px 5px 5px 5px;
}

.inner-screen-button-wrapper {
    width: calc(100%);
    height: calc(100% - 5px);
    justify-content: center;
    margin-top: 5px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

.screen-share-menu h3 {
    font-weight: 400;
    width: 100%;
    margin: 15px 0px 5px 10px;
    text-align: left;
    letter-spacing: var(--font-spacing);
   
    top: 0;
    left: 0;
}

.close-share-menu-container {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 4;
    border-bottom-left-radius: 8px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 8px;
}

.close-share-menu-container:hover {
    opacity: 0.6;
}
