
.side-bar-container {
    min-width: 280px;
    max-width: 280px;
    width: 34%;
    margin-left: 10px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.inner-side-bar-container {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    position: relative;
}