
.side-bar-container {
    min-width: 200px;
    max-width: 200px;
    width: 100%;
    height: calc(100% - 5px);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 2;
    margin-left: 55px;
}

.inner-side-bar-container {
    width: 100%;
    height: calc(100%);
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.side-bar-dashboard-placeholder {
    position: absolute;
    z-index: 0;
    height: calc(100% - 31px);
    top: 31px;
    width: 100%;
}