
.side-bar-container {
    width: 34%;
    border-radius: var(--border-radius);
    height: 98%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.inner-side-bar-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}