.drop-down-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.drop-down-content {
    max-height: 300px;
    overflow-y: auto;
    width: 97%;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    position: absolute;
    z-index: 0;
    top: 40px;
}

.drop-down-content li {
    list-style: none;
    padding: .5rem;
    font-size: 1rem;
    cursor: pointer;
    width: calc(100% - 4rem);
}

.drop-down-content li:hover {
    opacity: 0.5;
}

.drop-down-icon-wrapper {
    position: absolute;
    top: 5px;
    right: 8px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: 0.1s;
}