
.profile-tab-container {
    position: absolute;
    top: 31px;
    left: 55px;
    width: 400px;
    height: calc(100% - 32px - 20px);
    padding: 5px 5px 10px 5px;
    z-index: 6;
    border-radius: 8px;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.561);
}

.profile-tab-picture-wrappper {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture-tab-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-nav-bar {
    height: 45px;
    border-radius: var(--border-radius);
    width: calc(100% - 10px);
    padding: 5px;
    margin: 5px 0px;
    align-items: center;
    display: flex;
}