.profile-tab-outer-container {
    position: fixed;
    top: 31px;
    left: 5px;
    width: 100%;
    height: 100%;
    z-index: 22;
}


.side-tab-outer-container {
    position: fixed;
    top: 31px;
    left: 55px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    z-index: 6;
}
.profile-tab-container {
    position: absolute;
    bottom: 85px;
    width: 300px;
    height: calc(100%);
    max-height: 500px;
    padding: 5px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.561);
}

.profile-tab-picture-wrappper {
    position: relative;
    width: calc(100%);
    height: 175px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.profile-picture-tab-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-nav-bar {
    height: 45px;
    border-radius: var(--border-radius);
    width: calc(100% );
   
    margin: 5px 0px;
    align-items: center;
    display: flex;
}