@keyframes shimmer {
    0% { background-position: -200px 0; }
    100% { background-position: 200px 0; }
  }

  @keyframes breath {
   0% {
    opacity: 0.5;
   }
   100% {opacity: 1;}
  }

  .sending {
    animation: breath 1s infinite linear;
  }
  
  .skeleton {
    background: linear-gradient(90deg, rgba(255,255,255,0.05) 25%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.05) 75%);
    background-size: 200px 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 4px;
  }
  
  .messageItem {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px var(--gap);
    border-left: 2px solid var(--accent-color);
    position: relative;
    flex-shrink: 0;
    min-height: 25px;
    max-width: calc(100vw - 22px);
    gap: var(--gap);
  }

  .messageWrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  .buttons {
    display: flex;
    align-items: center;
    position: absolute;
    top: -10px;
    right: 20px;
    opacity: 0;
    z-index: 5;
    height: 32px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    border: solid 1px var(--accent-color);
  }

  .time {
    opacity: 0 !important;
  }

  .messageItem:hover {
    background-color: var(--card-background-color);
  }

  .messageItem:hover .time {
    opacity: 0.5 !important;
  }

  .messageItem:hover .buttons {
    opacity: 1;
  }
  
  .userImageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 40px;
    flex-shrink: 0;
  }
  .userImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--primary-color);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .messageContent {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 52px);
  }
  
  .userName {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    width: auto;
    height: 18px;
    border-radius: 4px;
    margin-bottom: 5px;
  }

  .userName h3 {
    margin: 0px;
    font-size: 16px;
    cursor: pointer;
    line-height: 13px;
  }

  .userName h3:hover {
    text-decoration: underline;
  }
  
  .textBlock {
    width: 100%;
    margin: 2px 0px 0px 0px;
    padding: 0px;

    word-break: break-word; /* Works in most browsers */
    overflow-wrap: break-word; /* Ensures breaking in modern browsers */
  }

  
  .textBlock.short {
    width: 60%;
  }
  
  .textBlock.long {
    width: 90%;
  }
  
  .imageBlock {
    max-width: calc(100%);
    width: auto;
    border-radius: 10px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    min-width: 50px;
  }

  .imageSkeleton {
    width: 300px;
    max-width: 100%;
    height: 350px;
    border-radius: 6px;
    background-color: var(--accent-color);
    margin-top: 6px;
  }
  
  .lazyImageContainer {
    max-height: 350px;
    max-width: calc(100%);
    overflow: hidden;
  }