
.mic-muted-indicator-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: auto;
    height: 50px;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.544);
    transition: 0.1s;
    animation: pop-in forwards linear 0.2s;
}

.mic-muted-indicator-container svg {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
}
