.requirementsContainer {
    background: var(--card-background-color);

    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
 .requirementsContainer h4 {
    font-size: 18px;
    margin-bottom: 12px;
    color: var(--text-color);
  }
  
.requirementsContainer  ul {
    list-style-type: circle;
    padding: 0;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
.requirementsContainer  li {
    font-size: 14px;
    color: var(--text-color);
  }
  
  .valid {
    color: var(--success-color);
  }
  
  .invalid {
    color: var(--error-color);
  }
  