/* CardWrapper.module.css */
.cardWrapper {
    background-color: var(--card-background-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: calc((100% - 80px));
    max-width: 500px;
    margin: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    display: grid;
    gap: 10px;
  }
  
  .cardWrapper:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }
 
  
  .cardBody {
    font-size: 14px;
  }
  
  .cardFooter {
    margin-top: 15px;
    text-align: right;
    font-size: 12px;
    color: var(--secondary-color);
  }
  