

.unread {
    position: absolute;
    left: -10px;
    top: 50%;
    translate: 0% -50%;
    width: 6px;
    height: 20px;
    border-radius: 5px;
    flex-shrink: 0;
    background-color: var(--text-color);
    z-index: 10;
}

