
.activity-feed-container {
    width: calc(100% - 20px);
    padding-top: 20px;
    margin-top: -20px;
    z-index: 1;
    border-radius: 10px;
    padding-bottom: 5px;
}

.activity-feed-inner-container {
    margin-left: 20px;
    width: calc(100% - 20px);
}