
.image-widget-button-container {
    width: 30%;
    height: 200px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin: 10px 0 0 0;
}

.image-widget-button-container div {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-widget-button-container h2 {
    font-weight: 400;
    letter-spacing: var(--font-spacing);
}