.userBio {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.5;
    width: calc(100% - 30px);
    border-radius: var(--border-radius);
    margin: 0 5px;
    word-wrap: break-word;
    padding: var(--gap);
    background-color: var(--card-background-color);
  }
  