
.settings-routes-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    position: absolute;
    z-index: 5;
}

.settings-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 95%;
    max-width: 1000px;
}