
.settings-routes-wrapper {
    width: calc(100%);
    max-width: calc(100% - 287px - 8px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100% - 39px);
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.settings-wrapper {
    display: flex;
    flex-direction: column;
    
    width: 95%;
    max-width: 1000px;
}