
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.imageWrapper {
    width: auto;
    max-width: 150px;
    max-height: 350px;
    border-radius: var(--border-radius);
    overflow: hidden;
}
