.header {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 4;
  width: calc(100% - 10px);
  padding: 0px 5px 0px 5px;       /* Ensure header takes full available width */
  overflow: hidden;  /* Hide any overflow */
  min-width: 0; 
  cursor: pointer;     /* Allow flex children to shrink */
}

.iconWrapper {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.channelIcon,
.defaultIcon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.info {
  display: flex;
  gap: 5px;
  flex: 1;          /* Take up remaining space */
  overflow: hidden; /* Prevent children from overflowing */
  min-width: 0;     /* Allow children to shrink */
}

.channelName {
  margin: 0;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
  word-break: keep-all;
  white-space: nowrap;
  flex-shrink: 0;   /* Never shrink the channel name */
}

.channelDescription {
  margin: 0;
  color: var(--accent-color);
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  font-style: italic;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: color 0.2s ease;
  flex: 1;          /* Allow the description to fill available space */
  min-width: 0;     /* Enable shrinking */
}

.channelDescription:hover {
  color: var(--accent-color);
}
