
.dynamic-gallery-widget {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    border-radius: var(--border-radius);
}

.dynamic-gallery-widget .image-gallery-animation-wrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.dynamic-gallery-widget .next {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 30px;
    opacity: 0.3;
    z-index: 1;
    cursor: pointer;
    max-width: 80px;
}

.dynamic-gallery-widget .prev {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30px;
    opacity: 0.3;
    z-index: 1;
    cursor: pointer;
    max-width: 80px;
}

.dynamic-gallery-widget .prev:hover,
.dynamic-gallery-widget .next:hover {
    opacity: 0.6;
}