
.song-container {
    height: 60px;
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-container .song-thumbnail-container {
    width: 68px;
    height: 68px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
    margin-right: 1rem;
}

.song-container p {
    font-weight: 400;
    font-size: .8rem;
    letter-spacing: var(--font-spacing);
}

.song-name {
    margin-right: 5px;
    text-align: center;
}