
.song-container {
    height: 60px;
    width: calc(100% - 10px);
    padding: 0 5px;
    max-width: calc(100% - 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.song-container .song-thumbnail-container {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    flex-shrink: 0;
    margin-right: 3px;
    position: relative;
}

.song-container p {
    font-weight: 400;
    font-size: .7rem;
    margin-left: 5px;
    letter-spacing: var(--font-spacing);
    cursor: default;
    min-width: 60px;
    text-align: center;
    flex-shrink: 4;
}

.song-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 4;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.song-name-container p {
    padding: 0;
    margin: 0 0 0 5px;
}

.added-by-song-title {
    font-size: 0.6rem;
    opacity: 0.7;
}

.song-name {
    margin-right: 5px;
    text-align: start !important;
    flex-shrink: 4;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-height: 100%;
    font-size: 1.2rem;
    cursor: default;
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap;
}

.song-author {
    margin-right: 5px;
    text-align: start !important;
    flex-shrink: 4;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-height: 100%;
    font-size: 1.2rem;
    cursor: default;
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap;
}
.added-by-song-title {
    cursor: default;
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}