
.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 0px);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    gap: 5px;
    padding-bottom: 5px;
}
