
.container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: calc(100% - 20px);
    height: 100%;
    padding-bottom: 5px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: var(--gap);
}