.customVideoContainer {
    position: relative;
    background: black;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    min-height: 100px;
    min-width: 220px;
  }
  
  .customVideo {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Darken the video when paused */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .overlayPlayIcon {
    color: var(--text-color);
  }
  
  .videoControls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    gap: 10px;
    width: calc(100%);
  }

  .controlWrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px);
    padding: 0px 10px;
  }
  
  .controlButton {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .progressBar {
    flex-shrink: 0;
    height: 10px;
    background: var(--overlay-color);
    cursor: pointer;
    overflow: hidden;
    width: 100%;
  }
  
  .progress {
    background: var(--button-background);
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }
  
  .timeDisplay {
    color: var(--text-color);
    font-size: 0.9rem;
    white-space: nowrap;
  }
  .volumeControl {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .volumeWrapper {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  
  .volumeSlider {
    position: absolute;
    bottom: 100%;
    left: 5px; /* place it above the button */
    margin-bottom: 8px;
    height: 0px;
    width: 60px;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    transition: opacity 0.2s ease;
  }

  