.customVideoContainer {
    position: relative;
    background: black;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    min-height: 150px;
    min-width: 220px;
  }
  
  .customVideo {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Darken the video when paused */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .overlayPlayIcon {
    color: var(--text-color);
  }
  
  .videoControls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--overlay-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: calc(100% - 10px);
    padding: 5px 5px;
  }

  .controlWrapper {
    display: flex;
    gap: 5px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: calc(100% - 20px);
    padding: 0px 10px;
  }
  
  .controlButton {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .progressBar {
    flex-shrink: 0;
    height: 10px;
    background: var(--overlay-color);
    cursor: pointer;
    overflow: hidden;
    width: 100%;
  }
  
  .progress {
    background: var(--button-background);
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }
  
  .timeDisplay {
    color: var(--text-color);
    font-size: 0.9rem;
    white-space: nowrap;
  }
  .volumeControl {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .volumeWrapper {
    position: relative;
    display: flex;;
    align-items: center;
    height: 30px;
    gap: 5px;
  }
  
  .volumeSlider {
    bottom: 100%;
    width: 60px;
    transition: opacity 0.2s ease;
  }

  .hideCursor {
  cursor: none;
}

.hideCursor .videoControls {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.videoControls {
  opacity: 1;
  transition: opacity 0.3s ease;
}
