.container {
    height: calc(100svh - 20px);
    padding: var(--gap) 0px;
    display: grid;
    grid-template-rows: 50px 1fr 150px;
    justify-items: center;
    gap: 5px;
    z-index: 5;
  }

.closeMenu {
  display: none;
}

@media screen and (max-width: 730px) {
  .container {
    top: 0px;
    left: 0;
    position: fixed;
    background-color: var(--background-color);
    pointer-events: none;
    height: calc(100svh - 10px - var(--mobile-bottom-padding));
    z-index: 20;
    width: 80px;
    /* Set starting transform for animation */
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding-bottom: var(--mobile-bottom-padding);
  }

  .sideNavVisible {
    display: grid;
    opacity: 1;
    pointer-events: auto;
    /* Trigger the slide-in */
    transform: translateX(0%);
  }
}
  