
.move-user-button {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    
}


.move-to-channel-container {
   display: flex;
   width: 100%;
   flex-direction: column;
   left: 20px;
   border-top-right-radius: var(--border-radius);
   border-bottom-right-radius: var(--border-radius);
   overflow: hidden;
   max-height: 280px;
   overflow-y: auto;
}

.move-to-channel-container p {
    cursor: pointer;
    height: 40px;
    flex-grow: 1;
    height: 100%;
    margin: 0;
    padding: 10px 0;
    padding-left: 5px;
}

.move-to-channel-container p:hover {
    filter: contrast(50%);
}