.serverWelcomeMessage {
  border-radius: 8px;
  overflow: hidden;
  margin: 0;
  text-align: center;
  color: var(--text-color);
  height: 100%;
  width: 100%;
}

.bannerContainer {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 16px;
}

.serverBanner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcomeMessageText {
  padding: 10px;
  width: calc(100% - 20px);
}

.welcomeMessageText h3 {
  margin: 5px 0px;
  padding: 0px;
}

.serverWelcomeMessage p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 16px;
  width: 100%;
  text-align: start;
  width: 100%;
  text-align: center;
}
