.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    position: relative;
  }
  
  .label {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
  }
  
  .dropdown {
    position: relative;
    cursor: pointer;
  }
  
  .dropdownButton {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .dropdownButton:hover {
    background: var(--button-hover);
  }
  
  .dropdownButton:focus {
    outline: 2px solid var(--accent-color);
  }
  
  .dropdownList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--background-color);
    border-radius: 6px;
    margin-top: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 10;
  }
  
  .dropdownItem {
    padding: 10px;
    color: var(--text-color);
    cursor: pointer;
    transition: background 0.2s ease-in-out;
  }
  
  .dropdownItem:hover {
    background: var(--button-hover);
  }
  
  .arrow {
    transition: transform 0.3s ease-in-out;
  }
  
  .arrow.open {
    transform: rotate(180deg);
  }
  