.button {
  height: 30px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  padding: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-app-region: no-drag;
  transition: 0.2s ease-in-out;
  flex-shrink: 0;
  position: relative;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover:not(.disabled) {
    background-color: var(--button-hover) !important;
  }
  .button:hover svg {
    scale: 1.1;
  }
}

.button:active {
    scale: 0.98;
    translate: 0px 2px;
    filter: brightness(0.95);
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2);
}

.button svg {
  width: 100%;
  height: 100%;
  transition: 0.2s ease-in-out;
}

.disabled {
  opacity: 0.45 !important;
  filter: grayscale(1) brightness(1.1);
  pointer-events: none !important;
}
