
.image-widget-container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}

.img-widget-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scale: 2;
    object-fit: cover;
    filter: blur(10px);
    opacity: 0.5;
}