
.app-settings-menu {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    min-width: 265px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
   
}

.inner-app-settings-container {
    max-width: 200px;
    width: calc(100% - 10px);
    height: 100%;
    flex-grow: 2;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 15px;
}

.setting-buttons-wrapper {
    margin-top: 35px;
}