
.input-title {
    padding-left: 1rem;
    font-size: 1rem;
    letter-spacing: var(--font-spacing);
    font-weight: 400;
    width: calc(100% - 1rem);
    opacity: 0.8;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    flex-shrink: 0;
}

