/* Main layout */
.layout {
  display: grid;
  grid-template-columns: 75px 1fr; /* Side Nav (250px) + Main Content (1fr) */
  grid-template-rows: 1fr; /* Top Nav (auto height) + Content (rest of the space) */
  height: var(--app-height); /* Full height */
  max-height: 100svh;
}

/* Main Content Area */
.wrapper {
  display: grid;
  grid-template-rows: 40px 1fr; /* Top Nav (60px), 3 equal sections */
}




