/* Main layout */
.layout {
  display: grid;
  grid-template-columns: 70px 1fr; /* Side Nav (250px) + Main Content (1fr) */
  grid-template-rows: 1fr; /* Top Nav (auto height) + Content (rest of the space) */
  height: var(--app-height); /* Full height */
  height: 100svh;
}

/* Main Content Area */
.wrapper {
  display: grid;
  grid-template-rows: 40px 1fr; /* Top Nav (60px), 3 equal sections */
}

@media screen and (max-width: 730px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 55px;
    height: calc(100vh - 55px);
  }

  .wrapper {
    grid-template-rows: 1fr;
  }
}

