  
  .searchBox {
    opacity: 1;
    height: auto;
    background-color: var(--primary-color);
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 10px);
    z-index: 12;
    gap: 5px;
    position: sticky;
    top: 0;
    cursor: text;
  }
  
  .searchInput {
    border: none;
    outline: none;
    font-size: 24px;
    padding: 8px 0px;
    width: calc(100% - 16px);
    height: 40px;
    transition: width 0.3s ease-in-out;
    color: var(--text-color);
    background: none;
    font-weight: 200;
    font-family: var(--font-family);
    
  }

  .clearInput {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.5;
  }

  .clearInput:hover{
    opacity: 1;
  }
  
  .filterWrapper {
    margin-right: 5px;
    z-index: 2;
  }

  @media screen and (max-width: 730px) {
    .searchBox {
      border-radius: 0px;
    }
  }