  
  .searchBox {
    opacity: 1;
    height: auto;
    background-color: var(--card-background-color);
    border-radius: 10px 10px 0px 0px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 6;
  }
  
  .searchInput {
    border: none;
    outline: none;
    font-size: 24px;
    padding: 8px;
    width: calc(100% - 16px);
    height: 40px;
    transition: width 0.3s ease-in-out;
    color: var(--text-color);
    background: none;
    font-weight: 200;
    font-family: var(--font-family);
    
  }
  
  .filterWrapper {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }