
.server-button-container {
    position: relative;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.1s;
    margin: 2px 0px;
    z-index: 20;
    display: flex;
    align-items: center;
    left: 0;
    flex-shrink: 0;
    float: right;
}

.server-button-image-container {
    border-radius: 50%;
    cursor: pointer;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    transition: 0.2s;
    flex-shrink: 0;
}

.server-button-name-container {
    margin-left: 5px;
    border-radius: 5px;
    height: auto;
    display: flex;
    align-items: center;
    z-index: 20;
    padding: 5px;
    left: 55px;
    max-width: 150px;
    margin-right: 30px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.688);
    animation: pop-in forwards linear 0.1s;
}

.server-button-name-container h2 {
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 3px;
}
