
.container {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100%;
    overflow-y: auto;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}

@media screen and (max-width: 730px) {
    .container {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        padding: 5px;
    }
}