.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  z-index: 2;
  width: calc(100% - 10px);
  height: 100%;
  padding: 0px 5px;
  text-align: center;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
}

.title {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.blurb {
  font-size: 1rem;
  margin-bottom: 6px;
  color: #ccc;
}

.suggestion {
  font-size: 0.95rem;
  color: #aaa;
}
