.room-navigation-container {
    display: flex;
    height: 42px;
    min-height: 43px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: 0;
    z-index: 3;
}

.room-navigation-button-wrapper {
    height: 45px;
    width: 100%;
    display: flex;
}

.room-navigation-button {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.room-navigation-button p {
    position: fixed;
    top: -5px;
    padding: 5px;
    border-radius: 5px;
    z-index: 5;
    text-align: center;
    letter-spacing: var(--font-spacing);
    font-size: 0.7rem;
    transform: translateX(-35%);
    min-width: 75px;
}

.stream-room-button p {
    margin-left: 20px;
}

.room-navigation-button h3 {
    font-weight: 400;
    font-size: .8rem;
    letter-spacing: var(--font-spacing);
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
}

.room-navigation-filler {
    width: 100%;
    height: 100%;
    margin: 0 47px 0 3px;
}
