.room-navigation-container {
    display: flex;
    height: 55px;
    min-height: 55px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transition: 0;
}

.room-navigation-button-wrapper {
    height: 55px;
    width: 100%;
    display: flex;
}

.room-navigation-button {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.room-navigation-button h3 {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: var(--font-spacing);
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}