

.control-bar-container {
    width: 90%;
    height: 80px;
    min-height: 80px;
    border-top: solid 2px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.control-bar-container div {
    flex-shrink: 0;
}

.controls-wrapper {
    display: flex;
}