

.control-bar-container {
    width: calc(100% - 10px);
    height: 55px;
    padding: 0 5px;
    min-height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.control-bar-container div {
    flex-shrink: 0;
}

.controls-wrapper {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}