

.control-bar-container {
    width: 95%;
    height: 60px;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.control-bar-container div {
    flex-shrink: 0;
}

.controls-wrapper {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}