
.channel-status-wrapper {
    width: calc(100% - 14px);
    margin-left: 5px;
    display: flex;
    height: 32px;
    margin-right: 5px;
    padding: 0px 2px;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 1px;
    border-radius: 8px;
    margin-top: 6px;
    flex-shrink: 0;
}

.channel-status-wrapper p {
    font-size: .8rem;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    cursor: pointer;
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap;
    
}

.channel-status-wrapper-animation p { 
    animation: text-auto-scroll linear 15s infinite;
}