.server-welcome-message-container {
    width: calc(100% - 10px);
    z-index: 0;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    opacity: 0.6;
}

.server-welcome-message-container img {
    filter: blur(8px);
}

.server-welcome-message-wrapper {
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    margin-top: 5px;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    z-index: 1;
}

.server-welcome-message-wrapper h3 {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    cursor: default;
}