.message-gallery-wrapper {
    
    min-height: 350px;
    width: auto;
    position: relative;
    display: inline-block;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.message-image-gallery-container {
   
    max-height: 350px;
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    transition: 0.1s;
}