
.edit-panel-profile-preview-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% - 250px);
    height: 100%;
    z-index: 10;
    margin-left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-panel-profile-preview {
    width: 340px;
    border-radius: 20px;
    padding: 10px;
}

.profile-banner-preview-wrapper {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
}

.profile-banner-preview-wrapper .profile-baner-source {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-image-source {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-preview-display-name-wrapper {
    margin: 0 0 5px 0;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-preview-display-name-wrapper h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}

.edit-member-panel-container {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}

@media  screen and (max-width: 1065px) {
    .edit-member-panel-container {
        flex-direction: column;
    }
}