
  .linkPreview {
    display: flex;
    align-items: center;
    background: var(--card-background-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 10px;
    overflow: hidden;
    transition: background 0.2s ease-in-out;
    max-width: 400px;
    cursor: pointer;
  }

  .reddit  {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
  }

 .redditPreviewContent {
    padding: 5px 10px !important;
    max-width: calc(100% - 20px);
  }
  
  .linkPreview:hover {
    background: var(--primary-color);
  }
  
  .previewImage {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-right: 3px solid var(--accent-color);
  }

  .redditImage {
    width: 100%;
    max-height: 400px; /* Ensure the parent has a max-height */
    height: auto; /* Allow the height to be auto adjusted based on the content */
    display: flex; /* Use flexbox for centering */
    justify-content: center;
    align-items: center;
    background-color: black;
    border-right: none;
    border-bottom: 3px solid var(--accent-color);
    overflow: hidden; /* Prevent overflow */
}


.mediaWrapper {
    width: 100%;
    height: 100%;
    max-height: 400px; /* Ensure the wrapper is stretched to fit the parent */
    
}

.redditMediaWrapper {
  max-height: 400px;
  width: auto;
}

.redditMediaWrapper img {
  max-height: 400px;
  object-fit: contain;
}

.mediaWrapper video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    max-height: 400px; /* Ensure the video scales correctly without overflowing */
}
  
  .previewContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .siteInfo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: var(--secondary-color);
  }
  
  .favicon {
    width: 16px;
    height: 16px;
  }
  
  .siteName {
    font-weight: bold;
  }
  
  .title {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    margin: 0px;
  }
  
  .description {
    font-size: 14px;
    margin: 0px;
    color: var(--secondary-color);
    display: -webkit-box;
  -webkit-line-clamp: 2;        /* Limit to 2 lines */
  -webkit-box-orient: vertical; /* Set the box orientation to vertical */
  overflow: hidden;             /* Hide overflow content */
  text-overflow: ellipsis;   
  }
  