
.listen-to-audio-container {
    width: 100%;
    max-height: 260px;
    position: relative;
}

#mic-feed-back {
    display: none;
}

.audio-level-bars-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 88px;
    margin-bottom: 2%;
    overflow: hidden;
}

.audio-level-bars-container .pid {
    height: 100%;
    min-width: 10px;
    width: 100%;
    margin: 0 .4rem;
    display: flex;
}