
.song-skipped-overlay-container {
    border-radius: var(--border-radius);
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    max-width: 80%;
    padding: 0 5px;
    z-index: 5;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.song-skipped-overlay-container p {
    font-size: 0.8rem;
}

.song-skip-notification-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}