
.song-skipped-overlay-container {
    position: absolute;
    top: 0px;
    width: auto;
    width: 100%;
    z-index: 5;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-skipped-overlay-container p {
    font-size: 1rem;
}

.song-skip-notification-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 2rem;
}