
.song-skipped-overlay-container {
    position: absolute;
    top: 0px;
    right: 5px;
    width: auto;
    width: calc(100% - 5px);
    max-width: 350px;
    padding-left: 5px;
    border-radius: 10px;
    z-index: 5;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.57);
}

.song-skipped-overlay-container p {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-skip-notification-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin: 0px 5px;
}