.preview-web-cam-settings-container {
    width: 400px;
    height: 225px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.preview-web-cam-settings-container svg {
    width: 100px;
    opacity: 0.7;
    height: 100px;
}