/* SearchButton.module.css */
.searchButton {
    width: 100px !important;
}
.searchWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98px;
    border-radius: 15px;
    padding: 0 5px;
    height: 28px;
    gap: 10px;
  }
  
  .searchText {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    transition: opacity 0.2s ease-in-out;
  }
  
  .searchButton:hover .searchText {
    opacity: 1;
  }

  .searchIcon {
    width: 20px !important;
  }
  
  @media screen and (max-width: 730px) {
    .searchWrapper {
        width: auto;
        border: none;
    }
    .searchText {
        display: none;
    }
    .searchButton {
        width: 40px !important;
        height: 40px;
        
    }

    .searchIcon {
      width: auto !important;
    }
  }