

.content-screen-container {
    width: calc(66% - 10px);
    max-width: calc(100% - 20px);
    margin: 0 5px 0 3px;
    flex-grow: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-screen-inner-container {
    margin-top: 3px;
    height: calc(100% - 38px);
    width: 100%;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

