

.content-screen-container {
    width: calc(100% - 270px);
    margin: 0px 5px 0px 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.content-screen-inner-container {
    height: calc(100% - 37px);
    width: calc(100%);
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    position: relative;
}

