

.content-screen-container {
    width: 64%;
    max-width: calc(100% - 20px);
    margin: 0 10px;
    flex-grow: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-screen-inner-container {
    height: calc(100% - 45px - 1%);
    width: 100%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

