.button {
   
    border: none;
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    transition: 0.1s ease-in-out;
    text-align: center;
    outline: none;
    background-color: var(--button-background);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .button:hover {
    background-color: var(--button-hover) !important;
  }
  
  .button:active {
    scale: 0.99;
  }
  
  .disabled {
    color: #ccc;
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .disabled:hover {
    color: #ccc;
  }
  