/* Style for the container */
.typeInputWrapper {
    display: flex;
    gap: 10px;
    margin: 10px 0;
  }
  
  /* Style for the option buttons */
  .typeButton {
    background-color: var(--card-background-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 8px 16px;
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    text-transform: capitalize;
    transition: all 0.3s ease;
  }
  
  /* Style for the selected option */
  .typeButton.selected {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 2px solid var(--secondary-color);
  }
  
  /* Hover effect for the options */
  .typeButton:hover {
    background-color: var(--secondary-color);
    color: var(--card-background-color);
    border-color: var(--secondary-color);
  }
  