
.connection {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2px;
}

.connection div {
    width: 8px;
    background-color: var(--background-color);
    border-radius: 2px;
}

.barOne {
    height: 10px;
}

.barTwo {
    height: 15px;
}

.barThree {
    height: 20px;
}

