
.saved-media-outer-container {
    position: relative;
    width: 400px;
    height: calc(100% - 32px - 20px);
    padding: 5px 5px 10px 5px;
    z-index: 6;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.561);
}

.saved-media-inner-container {
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    border-radius: 15px;
}

.saved-media-inner-container .no-media-container {
    height: calc(100vh - 30px);
}

.saved-media-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 10px);
    padding: 5px;
    height: 30px;
}

.saved-media-header-wrapper h3,
.saved-media-header-wrapper h2 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.no-saves-icon {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}

.no-saves-icon svg {
    width: 150px;
    height: 150px;
}