
.saved-media-outer-container {
    position: absolute;
    top: 30px;
    left: 55px;
    width: calc(100% - 55px);
    height: calc(100% - 30px);
    z-index: 3;
    border-top-left-radius: 15px;
    overflow-y: auto;
}

.saved-media-inner-container {
    width: 100%;
    min-height: 100%;
}

.saved-media-inner-container .no-media-container {
    height: calc(100vh - 30px);
}