
.container {
  display: flex;
  gap: 16px;
  flex-direction: column;
  background: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  font-family: var(--font-family);
}

.option {
  background: var(--card-background-color);
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  border: 2px solid transparent;
}

.option:hover {
  background: var(--secondary-color);
}

.option.selected {
  border-color: var(--success-color);
  background: var(--secondary-color);
}

.title {
  margin: 0;
  color: var(--text-color);
  font-size: 18px;
}

.description {
  margin: 5px 0 0;
  color: var(--text-color);
  font-size: 14px;
  opacity: 0.8;
}
