
.user-status-bar {
    min-width: 186px;
    width: 186px;
    max-width: 186px;
    height: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    flex-shrink: 0;
    justify-self: flex-end;
    overflow-x: clip;
    z-index: 1;
    align-items: center;
    margin-left: 4px;
    border-radius: 8px;
}

.user-status-bar::-webkit-scrollbar {
    width: 3px;
}

.user-status-bar:hover {
    overflow-y: overlay;
}

.user-status-bar h4 {
    width: 100%;
    margin: 10px 0px 10px 8px;
    font-weight: 600;
    font-size: 0.8rem;
    opacity: 0.6;
}

.online-user-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-status-bar h3 {
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


