
.container {
    display: flex;
    flex-shrink: 0;
    border: solid 2px var(--text-color);
    border-radius: var(--border-radius);
    justify-content: center;
    align-items: center;
}

.active {
    flex-shrink: 0;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: var(--text-color);
    border-radius: var(--border-radius);
}
