.dropdown {
    position: relative;
    display: inline-block;
    color: var(--text-color);
  }
  
  .dropdownButton {
    background-color: var(--background-color);
    min-width: 80px;
    border: none;
    padding: 10px;
    color: var(--text-color);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .dropdownButton:active {
    scale: 0.9;
  }
  
  .dropdownButton:hover {
    background-color: var(--button-hover);
  }
  
  .options {
    position: absolute;
    width: 100%;
    min-width: 200px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    margin-top: 8px;
    list-style: none;
    padding-left: 0;
    z-index: 999;
    overflow: hidden;
    text-transform: capitalize;
    max-height: 380px;
    overflow-y: auto;
  }

  .bottom-left {
    top: 100%;
    left: 0;
    margin-top: 8px;
  }
  
  .bottom-right {
    top: 100%;
    right: 0;
    margin-top: 8px;
  }
  
  .top-left {
    bottom: 100%;
    left: 0;
    margin-bottom: 8px;
  }
  
  .top-right {
    bottom: 100%;
    right: 0;
    margin-bottom: 8px;
  }  
  
  .option {
    padding: 10px 15px;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option:hover {
    background-color: var(--button-hover);
  }
  
  .selectedOption {
    background-color: var(--accent-color);
  }
  