
.app-version-container {
    width: calc(100% - 20px);
    padding: 0 10px;
}

.app-version-container P {
    padding: 0 0 .5rem 0;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: var(--font-spacing);
    opacity: 0.6;
}