
.toolBar {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    gap: 5px;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    max-width: calc(100% - 10px);
}