
#side-server-list-wrapper {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    margin-left: 5px;
}



.side-bar-inner-container {
    min-width: 55px;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    flex-shrink: 0;
    z-index: 4;
    overflow-y: auto;
    max-height: calc(100%);
}

.side-bar-inner-container::-webkit-scrollbar {
    display: none;
}


.server-list-wrapper .text-input-container {
    border-radius: 0;
    margin: 0;

}