
#side-server-list-wrapper {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: auto !important;
    margin-left: 5px;
    height: calc(100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.server-buttons-nav-container {
    position: sticky;
    bottom: 5px;
    width: auto;
    overflow: visible;
    margin-bottom: 13px;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    max-height: 100%;
    flex-shrink: 0;
    z-index: 20;
}


.side-bar-inner-container {
    min-width: 55px;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    flex-shrink: 0;
    z-index: 4;
    overflow-y: auto;
    max-height: calc(100%);
}

.side-bar-inner-container::-webkit-scrollbar {
    display: none;
}


.server-list-wrapper .text-input-container {
    border-radius: 0;
    margin: 0;

}