
.server-banner-ambiance {
    position: fixed;
    top: 30px;
    left: 55px;
    width: 210px;
    margin-bottom: 10px;
    height: calc(100% - 36px);
    border-radius: 8px;
    z-index: 0;
    transition: 0.2s;
    opacity: 0.5;
}