.tooltipContainer {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 11;
}

.tooltip {
  position: absolute;
  background-color: var(--background-color);
  color: var(--text-color);
  border: solid 1px var(--button-hover);
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  pointer-events: none;
  max-width: 150px;
  z-index: 10;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
}

/* Top tooltip */
.tooltipTop {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-5px);
  margin-bottom: 5px;
}

/* Bottom tooltip */
.tooltipBottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(5px);
  margin-top: 5px;
}

/* Left tooltip */
.tooltipLeft {
  right: 100%;
  transform: translateX(-5px) translateY(-50%);

}

/* Right tooltip */
.tooltipRight {
  left: 100%;
  transform: translateX(5px) translateY(-50%);
}

/* Visible tooltip */
.tooltipVisible {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

@media screen and (max-width: 730px) {
  .tooltip {
    display: none;
  }
}