.button {
   display: flex;
   align-items: center;
   justify-content: space-between;
    border: none;
    color: var(--text-color);
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.1s ease-in-out;
    width: calc(100% - 20px);
    text-align: center;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    opacity: 0.75;
    font-weight: 400;
    z-index: 0;
  }

  .button span {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .button:hover {
    opacity: 1;
  }
  
  .button:active {
    scale: 0.99;
  }
  
  .disabled {
    color: #ccc;
    cursor: not-allowed;
  }
  
  .disabled:hover {
    color: #ccc;
  }
  