.wrapper {
    width: calc(100% - 10px);
   
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    flex-shrink: 0;
    position: relative;
    z-index: 4;
    box-sizing: border-box;
    margin: 5px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.container {
    width: calc(100% - 10px);
    height: 55px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.channelControlWrapper {
    width: calc(100% - 10px);
    height: 35px;
    padding: 10px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    gap: 3px;
}

.buttonWrapper {
    display: flex;
    position: relative;
    flex-shrink: 0;
}

@media screen and (max-width: 730px) {
    
}