.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--card-background-color);
    flex-shrink: 0;
    position: relative;
    z-index: 4;
}

.container {
    width: calc(100% - 10px);
    height: 55px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.channelControlWrapper {
    width: calc(100% - 10px);
    height: 35px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 2px solid var(--background-color);
}

.buttonWrapper {
    display: flex;
    position: relative;
    flex-shrink: 0;
}

@media screen and (max-width: 730px) {
    
}