
.alt-error-container {
    display: flex;
    height: 30px;
    margin: 5px 0;
    align-items: center;
}

.alt-error-container p {
    letter-spacing: var(--font-spacing);
    font-weight: 400;
    margin-left: 5px;
    font-size: 0.8rem;
}

.alt-error-container svg {
    width: 30px;
    height: 30px;
}