.channel-user-placeholder {
    width: calc(100% - 24px);
    margin-left: 18px;
    display: flex;
    height: 30px;
    margin-right: 2px;
    padding-left: 2px;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
}

.channel-user-placeholder h3 {
    font-size: .75rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    cursor: pointer;
}

.channel-user-placeholder-user-image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
    margin-left: 0px;
    flex-shrink: 0;
    cursor: pointer;
}

.user-status-wrapper {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    right: 0px;
    justify-content: flex-end;
    height: 24px;
    flex-shrink: 0;
    border-radius: 4px;
    margin-right: 2px;
}

.user-status-wrapper .extra-media-icon {
    margin: 0 .35rem;
    display: flex;
    align-items: center;
    justify-content: center;
}