.channel-user-placeholder {
    width: 95%;
    margin-left: 5%;
    display: flex;
    height: 45px;
    align-items: center;
    margin-bottom: 2%;
    position: relative;
}

.channel-user-placeholder h3 {
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: var(--font-spacing);
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    cursor: default;
}

.channel-user-placeholder-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5%;
    flex-shrink: 0;
}

.user-status-wrapper {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    justify-content: flex-end;
    height: 40px;
    border-radius: var(--border-radius);
    transition: 0.5s;
}

.user-status-wrapper .extra-media-icon {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}