.card {
  background: var(--background-color, #1d2d44);
  border-radius: var(--border-radius);
  box-shadow: 0 3px 24px 0 rgba(18,26,34,0.10);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: calc(100% - 10px);
  padding: 5px;
  transition: box-shadow 0.2s, transform 0.16s;
  outline: none;
  position: relative;
  gap: var(--gap);
}


.thumbWrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 80px;
  max-height: 130px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.placeholder {
  width: 60px;
  height: 60px;
  background: var(--background-color, #121a22);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  opacity: 0.5;
}
.placeholderIcon {
  width: 32px;
  height: 32px;
  color: var(--secondary-color, #4e8e8b);
}

.liveIndicator {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.streamInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
