
.user-status-menu-container {
    position: absolute;
    width: 96%;
    bottom: 48px;
    height: 260px;
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
    z-index: 1;
}

.inner-status-menu-container {
    flex-grow: 4;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.inner-status-menu-spacer {
    height: 9px;
    flex-shrink: 0;
    width: 35px;
    margin-left: 1px;
}

.inner-status-menu-container .text-input-container {
    padding: 0;
    margin: 0 auto;
    border-radius: 5px;
}