
.user-status-menu-container {
    position: relative;
    width: calc(100%);
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
}

.user-status-menu-container h2 {
    padding: 0px;
    margin: 6px 5px;
    font-weight: 400;
}

.inner-status-menu-container {
    flex-grow: 4;
    overflow: hidden;
    width: calc(100% - 10px);
    padding: 5px;
}

.inner-status-menu-spacer {
    height: 9px;
    flex-shrink: 0;
    width: 35px;
    margin-left: 1px;
}

.inner-status-menu-container .text-input-container {
    padding: 0;
    margin: 0 auto;
    border-radius: 5px;
    width: calc(100% - 6px);
}