
.link-preview-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    max-width: 400px;
    padding: 3px;
}
.link-preview-container:hover {
    filter: brightness(110%);
    text-decoration: underline;
}

.image-link-preview-wrapper {
    width: 100%;
    flex-shrink: 0;
    max-height: 300px;
    border-radius: 5px;
    overflow: hidden;
}

.link-info-preview-wrapper {
    margin-left: 2px;
}


.link-info-preview-wrapper h3,
.link-info-preview-wrapper p {
    margin: 5px 0px;
    color: rgb(66, 176, 176);
}