
.container {
    display: inline-flex;
    align-items: center;
    padding: 5px 5px 0px 5px;
    width: calc(100% - 10px);
    gap: 5px;
}

.icon {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}

.text {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}