
.container {
    background-color: var(--background-color);
    border-radius: 10px;
    flex-shrink: 0;
    padding: 5px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}