.container {
    width: 100%;
    max-width: 350px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

