
@keyframes pop-in {
    0% {
        scale: 0.2;
    }
    50% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.2;
    }
}