
.saved-media-container {
    border-radius: 50%;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    margin-top: 3px;
    flex-shrink: 0;
}

.extra-button-icon-container {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.saved-media-container:hover {
    border-radius: 10px;
}
