
.music-widget-outer-container {
    width: calc(100% - 8px);
    max-height: 600px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 0;
    position: relative;
}

.inner-music-widget-container {
    width: 95%;
}

.music-top-title-container {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.music-widget-nav-container {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    margin-top: 4%;
    justify-content: space-between;
}

.music-queue-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

}

.music-top-title-container h2,
.inner-music-widget-container h3,
.inner-music-widget-container p,
.music-widget-controls-container h3 {
    font-weight: 400;
    letter-spacing: var(--font-spacing);
    width: 100%;
    text-align: start;
}

.music-widget-controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.music-widget-inner-controls-container {
    max-width: 140px;
    width: 30%;
    margin-right: 10%;
    flex-shrink: 0;
}

.music-widget-inner-controls-container div {
    display: flex;
    justify-content: space-between;
}