
.gallery-navigation-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    opacity: 0.6;
}