
.server-list-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    min-width: 100%;
    flex-shrink: 0;
    z-index: 20;
}

.no-joined-servers {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    width: 100%;
    text-align: center;
    opacity: 0.5;
    letter-spacing: var(--font-spacing);
    cursor: default;
}

.application-navigation-spacer {
    width: 60%;
    margin: 10px 0 6px 0;
    height: 2px;
    border-radius: 5px;
}