
.server-list-container {
    width: auto;
    overflow: visible;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    max-height: 100%;
    overflow-y: auto;
    flex-shrink: 0;
    z-index: 20;
}

.server-list-container::-webkit-scrollbar {
    display: none;
}

.no-joined-servers {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    width: 100%;
    text-align: center;
    opacity: 0.5;
    letter-spacing: var(--font-spacing);
    cursor: default;
}

.application-navigation-spacer {
    width: 30px;
    margin: 10px 0 6px 8px;
    height: 2px;
    border-radius: 5px;
    flex-shrink: 0;
}

.server-select-nav-bottom-spacer {
    height: 30px;
    flex-shrink: 0;
}