.new-account-state-container {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-new-account-state-container {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: auto;
    
}

.inner-new-account-state-container .finish-account-set-up {
    width: 98%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.new-account-prev-button {
    margin-left: 1rem;
}

.new-account-nav-container {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 5px;
}

.new-account-nav-container h3 {
    letter-spacing: var(--font-spacing);
    font-size: 1rem;
    cursor: pointer;
    opacity: 0.6;
}

.new-next-button-container {
    margin-left: 1rem;
    padding: 0 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.new-next-button-container h3 {
    opacity: 1;
}

.new-account-nav-container h3:hover {
    opacity: 1;
}

.new-next-button-container:hover {
    opacity: 0.5;
}

.outer-finish-loading-new-account {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: pop-in 0.5s forwards linear;
}

.loading-finish-setting-up-account {
    
    width: 300px;
    height: 300px;
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.379);
}

.loading-finish-setting-up-account h3 {
    text-align: center;
    width: 100%;
    font-weight: 400;
    opacity: 0.8;
}

.new-account-welcome-message-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: calc(100% - 20px);
    border-radius: 10px;
    margin: 5px 0px;
}

.new-account-welcome-message-box h2,
.new-account-welcome-message-box h3 {
    margin: 5px 0px;
    text-align: center;
}

.new-account-welcome-message-box h2 {
    font-weight: 400;
}

.new-account-welcome-message-box h3 {
    font-weight: 300;
    opacity: 0.8;
    font-size: 0.9rem;
}