.filterContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;
    background-color: var(--card-background-color);
    margin-top: 2px;
    padding: 5px;
  }
  
  .filterButton {
    border: none;
    padding: 10px;
    border-radius: 5px;
    gap: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    transition: 0.3s ease;
    color: var(--text-color);
    opacity: 0.75;
    height: 38px;
  }

  .filterButton p {
    margin: 0px;
    padding: 0px;
  }

  .filterButton:active {
    scale: 0.98;
  }

  .filterButton:hover {
    opacity: 1;
    background-color: var(--button-hover);
  }
  
  .filterButton.active {
    background: var(--accent-color);
    opacity: 1;
  }
  