.filterContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap);
    margin-top: 2px;
    padding: var(--gap);
    background-color: var(--primary-color);
  }
  
  .filterButton {
    border: none;
    padding: 10px;
    border-radius: var(--border-radius);
    gap: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    transition: 0.3s ease;
    color: var(--text-color);
    height: 38px;
    font-weight: 500;
    font-size: 14px;
    font-family: var(--font-family);
  }

  .filterButton:active {
    scale: 0.98;
  }

  .filterButton:hover {
    opacity: 1;
    background-color: var(--button-hover);
  }
  
  .filterButton.active {
    background: var(--accent-color);
    opacity: 1;
  }
  