
.channel-background-container {
    position: absolute;
    z-index: 0;
    height: calc(100% - 45px);
    width: calc(100%);
    top: 45px;
    overflow: hidden;
}

.channel-background-blur-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-bottom-right-radius: var(--border-radius);
}

.channel-background-image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-bottom-right-radius: var(--border-radius);
}