
.video-component-play-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.1s;
}

.video-component-play-overlay:hover {
    opacity: 1;
}

.video-component-play-overlay svg {
    width: 90px;
    height: 90px;
}

