
.channel-icon-image-wrapper {
    height: 34px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 0;
    width: 34px;
    margin-right: 3px;
    border-radius: 3px;
}