
.channel-icon-image-wrapper {
    height: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 0;
    width: 30px;
    margin-right: 3px;
    border-radius: 50%;
}