
.channel-icon-image-wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 0;
    width: calc(100% - 3px);
    margin-right: 3px;
}