
.create-channel-menu-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-channel-inner-menu-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 600px;
    max-width: 600px;
    padding: 10px 20px;
    border-radius: var(--border-radius);
}

.create-channel-inner-menu-container .create-channel-apply-cancel-wrapper {
    width: 100%;
    flex-grow: 4;
    display: flex;
    align-items: flex-end;
}


