
.create-channel-menu-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
}

.create-channel-inner-menu-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    max-width: 1000px;
}


