
  .container {
    background: var(--card-background-color);
    padding: 20px;
    border-radius: 12px;
    max-width: calc(100% - 40px);
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    color: var(--text-color);
    font-size: 20px;
    text-align: start;
    margin-bottom: 16px;
  }
  
  .permissionsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
  }
  
  .buttonWrapper {
    display: flex;
    gap: 5px;
    margin: 5px 0px;
  }
  