.server-settings-menu {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0;
    
    height: calc(100%);
    display: flex;
    width: 262px;
    justify-content: center;
}

.inner-server-settings-container {
    width: calc(100% - 20px);
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.server-settings-route-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 262px);
    max-width: calc(100% - 275px - 8px - 5px);
    height: calc(100% - 39px);
    overflow-y: auto;
    display: flex;
    padding-left: 10px;
    z-index: 5;
}

.server-settings-buttons-wrapper {
    margin-top: 35px;
    max-width: 200px;
    width: calc(100% - 10px);
    margin-right: 5px;
}

.inner-server-settings-container .settings-category-button {
    max-width: 200px;
    width: calc(100% - 10px);
}

.server-settings-wrapping-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1000px;
}