.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    
  }
  
  .label {
    font-size: 0.75rem;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 300;
    color: var(--text-color);
  }
  
  .line {
    flex-grow: 1;
    height: 2px;
    background: var(--background-color);
  }
  