.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    
  }
  
  .label {
    font-size: 12px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 800;
    color: var(--text-color);
    opacity: 0.95;
  }
  
  .line {
    flex-grow: 1;
    height: 2px;
    background: var(--card-background-color);
  }
  