.title {
    font-family: "Arial", sans-serif;
    color: var(--text-color);
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 20px;
  }
  
  h5 {
    font-size: 18px;
  }
  
  h6 {
    font-size: 16px;
  }
  