.contextButton {
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    height: 40px;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-family: var(--font-family);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.contextButton p {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 0.8rem;
    white-space: nowrap;
}

.contextButton:hover {
    background: var(--button-hover);
}

.contextButton:active {
  transform: scale(0.98) translateY(2px);
  filter: brightness(0.95);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* RADIO BUTTON */
.radioButton {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-family: var(--font-family);
    color: var(--text-color);
}

.radioButton input {
    display: none;
}

.radioIndicator {
    width: 16px;
    height: 16px;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s ease-in-out;
}

.radioButton input:checked + .radioIndicator {
    background: var(--success-color);
    border-color: var(--success-color);
}

/* RANGE INPUT */
.rangeContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--font-family);
    color: var(--text-color);
    width: calc(100% - 10px);
    padding: 10px 5px;
    background-color: var(--primary-color);
    border-radius: 5px;
}


@media screen and (max-width: 730px) {
    .contextButton {
        height: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
}