.outer-member-panel-container {
    position: absolute;
    width: 100%;
    max-height: 100%;
    z-index: 12;
    top: 0;
    min-height: 100%;
    left: 0;
    pointer-events: all;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    background-position: center;
}

.username-wrapper-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.member-score-container {
    display: flex;
    align-items: center;
}

.member-panel-container {
    flex-shrink: 0;
    flex-grow: 4;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
}

.member-panel-image-container {
    width: 100%;
    height: 450px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.username-wrapper-container {
    margin-bottom: 5px;
    border-radius: var(--border-radius);
    width: calc(100% - 10px);
    padding: 5px;
    min-height: 45px;
}

.member-panel-profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.member-panel-info-container {
    
    flex-shrink: 0;
    bottom: 0;
    width: calc(100% - 10px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.253);
    max-width: 700px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.member-panel-info-container h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

.member-panel-info-container h3,
.member-panel-info-container h4 {
    margin: 2px 0;
    padding: 0;
    
    letter-spacing: var(--font-spacing);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.member-panel-info-container h4 {
    font-size: 0.9rem;
    margin-left: 5px;
    font-weight: 400;
    font-size:0.8rem;
}

.member-score-container {
    display: flex;
    margin-left: 5px;
}

.member-score-container p {
    margin-left: 5px;
}

.member-panel-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.member-panel-button-wrapper .text-button {
    width: 50%;
}

#member-panel-poke-button {
    margin-right: 5px;
}

.server-user-details-wrapper-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 10px);
    padding: 5px;
    border-radius: var(--border-radius);
}
.server-user-details-wrapper-container h3 {
    font-size: 1.2rem;
    font-weight: 500;
}
.server-user-details-wrapper-container h3,
.server-user-details-wrapper-container p {
    width: 100%;
    text-align: start;
}

.close-member-panel-button {
    position: fixed;
    top: 40px;
    left: 280px;
    z-index: 2;
    cursor: pointer;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.close-member-panel-button:hover {
    opacity: 0.6;
}