.serverButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    overflow-y: auto;
    width: 100%;
    left: 0;
    pointer-events: none;
}

.serverButtons::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 730px) {
    .serverButtons {
      margin-left: 5px;
    }
  
}

