.channelContainer {
    width: 100%;
    font-family: var(--font-family);
    border-radius: 8px;
    touch-action: manipulation;
    position: relative;
}

.channelButton {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    border: none;
    width: calc(100%);
    height: 35px;
    touch-action: manipulation;
}

.channelName {
    font-size: 15px;
    font-weight: 400;
    opacity: 0.75;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.75;
}

.active .channelButton {
    background-color: var(--secondary-color);
    cursor: default;
}

.channelContainer:hover .channelName,
.channelContainer:hover .icon {
    opacity: 1;
}

.active .channelName,
.active .icon {
    opacity: 1;
}

.channelContainer:hover .channelButton {
    background-color: var(--button-hover);
}

.channelButton:active {
    scale: 0.98;
}


.userList {
    background-color: var(--card-background-color);
    margin-top: 5px;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 5px;
}

.userItem {
    padding: 5px;
    color: var(--text-color);
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.userItem:last-child {
    border-bottom: none;
}

.subButtonWrapper {
    justify-self: flex-end;
    flex-shrink: 0;
    margin-left: auto;
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
}

.channelContainer:hover .subButtonWrapper {
    display: flex;
}