
.server-settings-button {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: var(--border-radius);
    z-index: 4;
    -webkit-app-region: no-drag;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.server-settings-button div p {
    letter-spacing: var(--font-spacing);
    
}

.server-settings-button svg:hover {
    opacity: 1;
}
