.time {
  opacity: 0.95;
  font-weight: 400;
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  line-height: 12px;
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* or set a fixed width if needed */
}
