.server-media-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.server-media-image-container {
    transition: 0.1s;
    cursor: pointer;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.server-media-image-container:hover {
    filter: brightness(120%);
}


.server-media-navigation-container {
    position: sticky;
    top: 0;
    z-index: 3;
    height: 34px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.server-media-navigation-container h3 {
    padding: 2px 8px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.1s;
    font-weight: 400;
    text-align: center;
    border-radius: 3px;
}

.server-media-navigation-container h3:hover {
    opacity: 1 !important;
}