.server-media-container {
    width: calc(100%);
    height: calc(100% - 85px);
    overflow-y: auto;
    position: relative;
}

.server-media-image-container {
    transition: 0.1s;
    cursor: pointer;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.server-media-image-container:hover {
    filter: brightness(120%);
}


.server-media-navigation-container {
    position: sticky;
    top: 0;
    z-index: 3;
    height: 34px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    
    margin-bottom: 5px;
}

.server-media-navigation-container h3 {
    padding: 2px 8px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.1s;
    font-weight: 400;
    text-align: center;
    border-radius: 3px;
}

.server-media-navigation-container h3:hover {
    opacity: 1 !important;
}

.server-media-image-search {
    margin-bottom: 5px;
}

.server-media-wrappers {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: 2;
}