
.content-outer-container {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: calc(100%);
    height: calc(100%);
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.widget-preview-wrapper {
    width: 100%;
}