
.content-outer-container {
    position: absolute;
    z-index: 3;
    top: 6px;
    bottom: 6px;
    left: 0;
    width: calc(100% - 20px);
    margin: 0 10px;
    height: calc(100% - 12px);
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.widget-preview-wrapper {
    margin: 1% 0 2% 0;
    width: 95%;
    max-width: 1000px;
}