
.content-outer-container {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.widget-preview-wrapper {
    margin: 1% 0 2% 0;
    width: 95%;
    max-width: 1000px;
}