.title-widget-container {
    display: flex;
    height: 70px;
    width: calc(100%);
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.title-widget-container h2 {
    font-weight: 400;
    letter-spacing: var(--font-spacing);
    text-align: center;
}
