.title-widget-container {
    display: flex;
    height: 70px;
    width: calc(100%);
    align-items: center;
    justify-content: center;
    margin: 3px 0;
}

.title-widget-container h2 {
    font-weight: 400;
    letter-spacing: var(--font-spacing);
}
