
.profile-button-container {
    position: relative;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.1s;
    margin: 3px 0px 1px 0px;
    z-index: 20;
    display: flex;
    align-items: center;
    left: 0;
    flex-shrink: 0;
    float: right;
}

.profile-button-picture-wrapper {
    width: 45px;
    height: 45px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.profile-button-picture-wrapper:hover {
    border-radius: 10px;
}