.safe-search-indicator-container {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 4px 6px;
    border-radius: 8px;
    margin-left: 5px;
    cursor: default;
}
.safe-search-indicator-container p {
    font-size: 0.8rem;
    opacity: 0.8;
    cursor: default;
}