.mediaItem {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 5px;
  background-color: var(--card-background-color);
  border-radius: 12px;
  transition: background-color 0.2s ease, box-shadow 0.2s ease, scale 0.2s ease;
  cursor: pointer;
  flex-shrink: 0;
  max-width: 100%;
  height: 35px;
  width: calc(100% - 10px);
}

.mediaItem:active {
  scale: 0.98;
}

.mediaItem:hover {
  background-color: var(--accent-color);
}

.mediaItem.playing {
  background-color: var(--button-background);
  box-shadow: 0 0 0 2px var(--button-hover);
}

.thumbnail {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}

.mediaItemButtons {
  flex-shrink: 0;
}

.fallbackIcon {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  flex-shrink: 0;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-width: calc(100% - 53px);
  margin-right: auto;
}

.title {
  font-weight: 600;
  color: var(--text-color);
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.duration {
  font-size: 0.85rem;
  color: var(--text-color);
  opacity: 0.6;
  margin-top: 2px;
}
