.leftBlock {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}

.mediaItem {
  display: flex;
  flex-direction: column;
  padding: 10px var(--gap);
  background-color: transparent;
  border-radius: var(--border-radius);
  transition: background-color 0.2s ease, box-shadow 0.2s ease, scale 0.2s ease;
  cursor: pointer;
  width: calc(100% - 20px);
  min-height: 50px;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--gap);
}

.mediaItem:hover {
  background-color: var(--button-hover);
}

.playOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}


.mediaItem:hover .playOverlay {
  display: flex !important;
}

.queueIndication {
  font-size: 0.85rem;
  width: 24px;
  text-align: center;
  opacity: 0.6;
}

.thumbnail {
  position: relative;
}

.thumbnail,
.fallbackIcon {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  flex-shrink: 0;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: black;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  min-width: 0;
}

.title {
  font-weight: 500;
  font-size: .9rem;
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailsWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.85rem;
  color: var(--text-color);
  opacity: 0.75;
}

.mediaItemButtons {
  margin-left: auto;
  flex-shrink: 0;
}

