.social-outer-container {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0;
    width: 100%;
    height: calc(100%);
    display: flex;
    justify-content: center;
}

.social-inner-container {
    
    width: calc(100% - 20px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.social-messages-wrapper {
    padding-top: 5rem;
    height: calc(100% - 10px);
    margin-top: 10px;
    flex-grow: 2;
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.image-social-post-preview {
    max-width: 300px;
    background-color: black;
    z-index: 2;
    height: 300px;
    position: absolute;
    bottom: 80px;
    right: 2%;
    border-radius: var(--border-radius);
    overflow: hidden;
}
