.social-outer-container {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0;
    width: 100%;
    height: calc(100%);
    display: flex;
    justify-content: center;
}

.social-wrapper-container {
    display: flex;
    flex-direction: column;
    width: calc(100%);
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    align-items: center;
}

.social-inner-container {
    
    width: calc(100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.social-messages-wrapper {
    height: 100%;
    flex-grow: 2;
    display: flex;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column-reverse;
}

.inner-social-messages-wrapper {
    
    width: 100%;
}

.image-social-post-preview {
    max-width: 400px;
    z-index: 6;
    position: absolute;
    object-fit: contain;
    bottom: 90px;
    right: 2%;
    border-radius: var(--border-radius);
    overflow: hidden;
}



.image-prev-cancel-hover-effect {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    flex-direction: column;
}

.image-prev-cancel-hover-effect h2 {
    font-weight: 400;
    letter-spacing: var(--font-spacing);
}

.image-prev-cancel-hover-effect:hover {
    opacity: 0.5;
}