.logo-container {
    width: 45px;
    height: 45px;
    left: 0px;
    flex-shrink: 0;
    cursor: default;
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    align-items: center;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    justify-content: center;
}


  