.logo-container {
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
    flex-shrink: 0;
    cursor: default;
    -webkit-app-region: no-drag;
    pointer-events: fill;
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}
