
.message-customize-container {
    display: flex;
    width: 100%;
    max-width: 700px;
}

.user-image-message-placeholder {
    flex-shrink: 0;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 5px;
}

.message-content-place-holder {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-info-message-placeholder {
    height: 30px;
    width: 100%;
    border-radius: 4px;
}
.message-link-placeholder {
    margin: 5px 0px;
    transition: 0.1s;
}
.message-link-placeholder a {
    color: rgb(0, 187, 255);
    margin: 10px 0px;
}

.media-message-place-holder {
    border-radius: 5px;
    transition: 0.1s;
    margin-top: 3px;
}