
.message-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.inputButtonWrapper {
    display: flex;
    align-items: flex-start;
    width: calc(100% - 20px);
    margin: 0px 10px 0px 10px;
    flex-shrink: 0;
    gap: 5px;
}

.error-message {
    color: var(--error-color);
    font-size: 14px;
    margin-bottom: 4px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    background: var(--card-background-color);
    border-radius: 8px;
    border: 1px solid var(--accent-color);
    padding: 15px;
    width: 100%;
    border-radius: 20px;
}

.message-input {
    flex: 1;
    background: transparent;
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 1; /* Exact height matching */
    height: auto; /* Allows dynamic resizing */
    min-height: auto; /* Prevent forced height */
    max-height: 300px; /* Prevent excessive growth */
    resize: none;
    font-family: var(--font-family);
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    display: block; /* Fix inline behavior affecting height */
}


.plus-button {
    background: var(--button-background);
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.plus-button:hover {
    background: var(--button-hover);
}

.menu {
    position: absolute;
    bottom: 100%;
    right: 0;
    background: var(--card-background-color);
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.menu button {
    background: transparent;
    color: var(--text-color);
    border: none;
    padding: 6px;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 5px;
    min-width: 100px;
    flex-shrink: 0;
}

.menu button:hover {
    background: var(--button-hover);
    border-radius: 4px;
}

.image-preview {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 8px;
}

@media screen and (max-width: 730px) {
    .menu button {
        width: 160px;
        font-size: 1rem;
        padding: 10px 6px;
    }
}