
.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    transition: 0.2s;
    z-index: 20;
}

.topButtons,
.bottomButtons {
    pointer-events: auto;
    display: flex;
    align-items: center;
    gap: 0px;
    background-color: var(--background-color);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
}

.topButtons {
    align-items: flex-end;
    align-self: flex-end;
}

.bottomButtons {
    flex-direction: column;
    z-index: 20;
    max-width: calc(100% - 20px);
}

.container:hover .overlay {
    opacity: 1;
}

.hideOverlay {
    opacity: 0 !important;
    pointer-events: all !important;
    cursor: none !important;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media screen and (min-width: 1280px) {
    .textChannelOpen {
        width: 50%;
    }
}

@media screen and (max-width: 730px) {
    .bottomButtons {
        margin-bottom: 25px;
    }
}