
.container {
    width: calc(100% - 20px);
    background-color: var(--primary-color);
    margin-top: 2px;
    border-radius: 0px 0px 10px 10px;
    padding: var(--gap);
    overflow-y: auto;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.wrapper h4 {
    font-size: 14px;
    margin: 5px;
    text-transform: capitalize;
}