
.button {
    position: fixed;
    top: 35px;
    right: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s;
    gap: 10px;
    z-index: 999;
    width: 60px;
    height: 60px;
}

.button p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.button:hover {
    opacity: 1;
}

@media screen and (max-width: 730px) {
    .button {
        display: none;
        top: auto;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .button p {
        display: none;
    }
}