
.update-available-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.update-available-inner-container {
    width: 80%;
    height: 80%;
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius);
}

.update-available-inner-container p {
    font-weight: 400;
    text-align: center;
    letter-spacing: var(--font-spacing);
}

.new-release-note-wrapper {
    flex-grow: 2;
    width: calc(100% - 2rem);
    overflow-y: auto;
    position: relative;
    margin-left: 1rem;
}

.update-available-inner-container .text-button {
    max-width: calc(100% - 2rem);
}