
.user-bio-preview-container {
    width: calc(100% - 10px);
    height: auto;
    padding: 5px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.user-bio-preview-container h2 {
    text-align: start;
    width: 100%;
}

.inner-bio-wrapper {
    display: flex;
    flex-direction: column;
    width: 99%;
}

.bio-images-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.inner-bio-wrapper p {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: clip;
}

.inner-bio-wrapper a {
    color: rgb(0, 225, 255);
}

.inner-bio-wrapper a:hover {
    opacity: 0.6;
}

.no-bio-container {
    display: flex;
    height: 95px;
    width: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.mini-bio-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}