.window-controls-container {
    position: fixed;
    z-index: 30;
    right: 10px;
    display: flex;
    justify-content: space-between;
}

.window-controls-container div {
    -webkit-app-region: no-drag;
    cursor: pointer;
    padding: 0 12px;
}

.window-controls-container div:hover {
    opacity: 0.5;
}