html {
  scroll-behavior: smooth;
}
:root {
  --font-variable: "Inter", sans-serif;
  --font-spacing: 4px;
  --border-radius: 5px;
  --box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.32);
  --range-background: white;
  --range-main-active: black;
  --range-main-thumb: black;
  --primary-color: black;
}

body {
  box-sizing: border-box;
  margin: 0;
  top: 0;
  left: 0;
  font-family: var(--font-variable);
  overflow: hidden;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: var(--range-background);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(159, 159, 159, 0.7);
}
