
:root {
  --font-variable: "Inter", sans-serif;
  --font-spacing: 4px;
  --border-radius: 15px;
  --box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.32);
}

body {
  box-sizing: border-box;
  margin: 0;
  top: 0;
  left: 0;
  font-family: var(--font-variable);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
