@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}



#root {
  
  animation: fadein 0.420s;
  
}

html, body {
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
}

button {
  touch-action: manipulation;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(21, 21, 21);
  height: 100vh;
}
:root {
  --font-variable: "Inter", sans-serif;
  --font-spacing: 1px;
  --border-radius: 10px;
  --box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.32);
  --range-background: white;
  --range-main-active: black;
  --range-main-thumb: black;
  --primary-color: black;
  --mobile-bottom-padding: 30px;
}

body {
  box-sizing: border-box;
  margin: 0;
  top: 0;
  left: 0;
  font-family: var(--font-variable);
  overflow: hidden;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Global Bubble Scrollbar Theme */
body,
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--button-background) transparent; /* Firefox */
}


