
.message-overlay-container {
    position: absolute;
    bottom: 0px;
    right: 00px;
    width: 65%;
    height: auto;
    backdrop-filter: blur(8px);
    border-top-left-radius: var(--border-radius);
    padding: 1rem;
    z-index: 2;
}