
.message-overlay-container {
    position: absolute;
    right: 0px;
    width: calc(100% - 2rem);
    max-height: 90%;
    max-width: 350px;
    right: 5px;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
    z-index: 5;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
}