
.ctx-button-container {
    width: calc(100% - 8px);
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 4px;
    justify-content: space-between;
    cursor: pointer;
}

.ctx-button-container p {
    padding: 0;
    font-weight: 400;
    font-size: 0.7rem;
    letter-spacing: var(--font-spacing);
}
