.statusRow {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-left: auto;
    opacity: 0.75;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    color: var(--text-color);
  }
  