
.social-route-wrapper-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 3;
    overflow-x: hidden;
    transition: 0.3s;
}

.social-route-wrapper-container .social-outer-container {
    position: relative;
    height: calc(100% - 25px);
}

.social-route-top-nav {
    height: 35px;
    width: calc(100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-route-top-nav .close-social-button {
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 3px;
}

.social-route-top-nav .close-social-button:hover {
    opacity: 0.6;
}

.social-route-title-container {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}

.social-route-top-nav h3 {
    font-weight: 400;
    letter-spacing: var(--font-spacing);
    font-size: .9rem;
    padding-left: 1rem;
}

