.server-navigation-container {
    display: flex;
    height: 31px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 9;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    max-width: calc(100% - 496px);
    left: 275px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.server-navigation-button-wrapper {
    height: calc(100%);
    max-width: calc(100% - 124px);
    display: flex;
    align-items: center;
    -webkit-app-region: drag;
}

.server-nav-social-unread-indicator {
    position: fixed;
    top: 2px;
    padding: 3px;
    margin: 0 0 0 12px;
    font-size: 9px;
    flex-shrink: 0;
    border-radius: 5px;
    z-index: 10;
}

.server-navigation-button {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    height: 18px;
    border-radius: 0px;
    margin: 0px 0px;
    -webkit-app-region: no-drag;
    border-radius: 4px;
}

.server-navigation-button p {
    position: fixed;
    top: 25px;
    padding: 5px;
    border-radius: 5px;
    z-index: 5;
    text-align: center;
    letter-spacing: var(--font-spacing);
    font-size: .9rem;
    transform: translateX(-35%);
    min-width: 75px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.435);
    animation: pop-in forwards linear 0.1s;
}



.server-navigation-button h3 {
    font-weight: 400;
    font-size: .8rem;
    letter-spacing: var(--font-spacing);
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
}

.server-navigation-filler {
    width: 100%;
    height: 100%;
}

.channel-social-header-container {
    display: flex;
    width: calc(100% - 152px);
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.channel-social-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100%);
    margin-left: 5px;
}

.channel-social-header-wrapper h3 {
    margin: 0px 0px 0px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    font-weight: 500;
    font-size: 0.9rem;
    flex-shrink: 0;
}

.close-social-route-button {
    flex-shrink: 0;
    -webkit-app-region: no-drag;
}

#social-channel-guide-lines-notice {
    -webkit-app-region: no-drag;
    cursor: pointer;
    opacity: 1 !important;
    transition: 0.1s;
    font-size: 12px;
    font-weight: 300;
}

#social-channel-guide-lines-notice:hover {
    opacity: 0.6 !important;
}

.current-channel-room-name {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 4;
    font-size: .9rem;
    max-width: calc(100% - 200px);
    font-weight: 400;
}

.channel-room-icon-wrapper {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.channel-room-icon-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}