.server-navigation-container {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: 0;
    z-index: 3;
    margin-bottom: 1px;
    flex-shrink: 0;
}

.server-navigation-button-wrapper {
    height: 30px;
    display: flex;
}

.server-navigation-button {
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.server-navigation-button p {
    position: fixed;
    top: -6px;
    padding: 5px;
    border-radius: 5px;
    z-index: 5;
    text-align: center;
    letter-spacing: var(--font-spacing);
    font-size: 0.7rem;
    transform: translateX(-35%);
    min-width: 75px;
}

.server-navigation-button h3 {
    font-weight: 400;
    font-size: .8rem;
    letter-spacing: var(--font-spacing);
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
}

.server-navigation-filler {
    width: 100%;
    height: 100%;
    margin: 0 0 0 1px;
}