.cardWrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    width: calc(100%);
    height: 600px;
    max-height: calc(100% - 20px);
    background-color: var(--card-background-color);
    color: var(--text-color);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: solid 1px var(--primary-color);
    position: relative;
  }
  
  .sidebar {
    width: calc(100% - 10px);
    background-color: var(--background-color);
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    overflow-y: auto;
  }
  
  .navButton {
    padding: 12px 8px;
    font-size: 16px;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    border-radius: 8px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .navButton:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
  }
  
  .activeNavButton {
    background-color: var(--secondary-color);
    cursor: default;
  }
  
  .contentArea {
    flex: 1;
    padding: 10px;
    background-color: var(--card-background-color);
    display: grid;
    height: calc(100% - 20px);
    overflow-x: hidden;

    position: relative;
  }

  .contentWrapper {

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 10px;
    width: calc(100% - 20px);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 0;
    height: auto;
  }

  .mobileMenuButton {
    display: none;
  }
  
  @media screen and (max-width: 730px) {

    .mobileMenuButton {
      display: flex;
    }

    .cardWrapper {
      grid-template-columns: 45px 1fr;
    }

    .navButton {
      display: none;
    }


    .menuOpen {
      grid-template-columns: 200px 1fr;
    }

    .menuOpen .navButton {
      display: flex;
    }
  }