
.wheel-spin-overlay-container {
    position: absolute;
    top: 5;
    right: 5px;
    border-radius: 10px;
    width: 410px;
    height: 550px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(8px);
    z-index: 5;
    box-shadow: -5px -5px 30px rgba(0, 0, 0, 0.714);
}

.wheel-spin-overlay-container .wheel-widget-wrapper {
    max-width: 500px;
}

.wheel-spin-overlay-message-container {
    margin-top: 1rem;
    width: calc(100% - 8px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    height: auto;
    border-radius: var(--border-radius);
}

.wheel-spin-overlay-container h1 {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: var(--font-spacing);
}

