
.wheel-spin-overlay-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 750px;
    border-top-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(8px);
    z-index: 2;
}

.wheel-spin-overlay-container .wheel-widget-wrapper {
    max-width: 500px;
}

.wheel-spin-overlay-message-container {
    margin-top: 1rem;
    width: calc(100% - 8px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    height: auto;
    border-radius: var(--border-radius);
}

.wheel-spin-overlay-container h1 {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: var(--font-spacing);
}