
.user-status-bar {
    min-width: 150px;
    width: 200px;
    height: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-shrink: 1;
    justify-self: flex-end;
    overflow-x: hidden;
}

.user-status-bar::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .user-status-bar {
        width: 50px;
        min-width: 50px;
    }

    .user-status-bar h3 {
        max-width: 40px;
    }

    .user-name-status-wrapper {
        display: none;
    }

    .preview-user-status-shrinked {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 200px;
        height: 55px;
        justify-content: center;
        padding: 10px;
    }

    .preview-user-status-shrinked h3,
    .preview-user-status-shrinked p {
        margin: 0;
        padding: 0;
        width: 100%;
        cursor: default;
        font-weight: 400;
        letter-spacing: var(--font-spacing);
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: keep-all;
        word-wrap: normal;
        white-space: nowrap;
    }

    .preview-user-status-shrinked h3 {
        font-size: 1rem;
        min-width: 100%;
    }

    .preview-user-status-shrinked p {
        font-size: 0.7rem;
        opacity: 0.6;
    }
}