
.container {
    width: 100%;
    height: auto;
    opacity: 0.75;

    border-radius: 10px;
}

.container p {
    margin: 0px;
    padding: 0px;
    color: var(--text-color);
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
}

