
.sectionOne {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 65px;
    border-top-left-radius: 10px;
}

.sectionTwo {
    max-height: calc(100vh - 40px);
    overflow: hidden;
}