

.sectionOne {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px minmax(0px, 1fr) 65px;
    border-top-left-radius: 10px;
}

.inVoiceChannel {
    grid-template-rows: 80px minmax(0px, 1fr) 110px;
}

.sectionTwo {
    height: calc(100svh);
    position: relative;
}

.hideUsers {
    display: none;
}

@media screen and (max-width: 730px) {
    
    .sectionOne {
        z-index: 20;
        position: fixed;
        top: 0px;
        left: 0;
        max-width: 250px;
        width: 100%;
        height: calc(100svh - 0px) !important;
        border-top-left-radius: 0px;
            /* Set starting transform for animation */
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        grid-template-rows: 80px minmax(0px, 1fr) 85px;
    }

    .inVoiceChannel {
        grid-template-rows: 80px minmax(0px, 1fr) 130px;
    }

    .sectionOneMobile {
        transform: translateX(0%);
    }
    .sectionTwo {
        height: calc(100svh - 55px) !important;
    }
    .sectionThree {
        display: flex;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 20;
        width: 100%;
        max-width: 250px;
        height: 100svh !important;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .sectionThreeMobile {
        transform: translateX(0%);
    }

    
}