.banner {
    width: 100%;
    border-top-left-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .banner {
        border-radius: 0px;
    }
}