.banner {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: var(--border-radius);

}

@media screen and (max-width: 600px) {
    .banner {
        border-radius: 0px;
    }
}