.banner {
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-top: -10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 300px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

}

@media screen and (max-width: 600px) {
    .banner {
        border-radius: 0px;
    }
}