.message-container {
    width: calc(100% - 5px);
    display: flex;
    height: auto;
    margin: 0 5px 0 0;
    position: relative;
    border-radius: 3px;
    padding-bottom: 4px;
    padding-right: 5px;
}


.message-inner-container {
    width: calc(100% - 59px);
    padding-bottom: 5px;
    padding-right: 5px;
    position: relative;
   
    display: flex;
    flex-direction: column;
}

.message-content-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 600px;
}

.message-container p {
    width: auto;
    overflow-wrap: anywhere;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
    opacity: 0.85;
}

.message-container a {
    color: rgb(66, 176, 176);
    cursor: pointer;
    margin: -4px 0px 0px 0px;
    word-break: break-all;
    width: calc(100% - 80px);
    flex-shrink: 0;
    font-size: 15px;
}

.message-date-stamp {
    max-width: calc(100% - 100px);
}

.message-container a:hover {
    color: rgb(0, 255, 255);
}

.ctx-message-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.sender-info-container {
    display: flex;
    width: 100%;
    margin-top: 4px;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
}

.sender-info-inner-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 20px;
    width: 100%;
}

.sender-info-container h2 {
    margin: 0 .5rem 0 0;
    padding: 0;
    font-size: 1.1rem;
    letter-spacing: var(--font-spacing);
    cursor: pointer;
    text-overflow: ellipsis;
    font-weight: 600;
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
}

.sender-info-container h2:hover {
    text-decoration: underline;
}

.sender-info-inner-container p {
    opacity: 0.4;
    font-size: 0.7rem;
    margin: 0;
    text-overflow: ellipsis;
    word-break: keep-all;
    
    white-space: nowrap;
    overflow: hidden;
}

.message-loading-container {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 4px;
    top: 4px;
    left: 7px;
    z-index: 2;
}

.message-image-container {
    max-height: 400px;
    object-fit: contain;
    border-radius: 20px;
    margin: 0 5px 4px 0px;
}

.message-image-container img {
    border-radius: 10px;
}

.message-outer-video-container {
    max-width: 800px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 5px;
}

.date-submenu-message-wrapper {
    position: absolute;
    top: -20px;
    right: 10px;
    height: 28px;
    padding: 0px;
    display: flex;
    align-items: center;
    margin-left: auto;
    border-radius: var(--border-radius);
    z-index: 5;
    opacity: 0;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.137);
}

.message-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
    margin: 4px 6px 0 0px;
}

.message-gallery-wrapper {
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.message-gallery-image-container {
    max-height: 500px;
    border-radius: 10px;
    margin: 4px 0px;
    cursor: pointer;
    overflow: hidden;
    margin-right: 2px;
}


.message-loading-text {
    animation: fade-in-out 2s ease-in-out infinite;
}

.message-exact-time-stamp  {
    font-size: 0.5rem;
    font-weight: 300;
    opacity: 0.8;
    margin-left: 5px;
}

.emoji-reaction-mesage {
    margin: 0;
    font-size: 5rem;
    margin-top: -10px;
    cursor: default;
}