.message-container {
    width: calc(100% - 2rem);
    max-width: 1000px;
    display: flex;
    height: auto;
    flex-direction: column;
    margin: 1rem;
}

.message-container p {
    width: auto;
    max-width: 800px;
    overflow-wrap: anywhere;
}

.message-container a {
    color: rgb(66, 176, 176);
    cursor: pointer;
}

.sender-info-container {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;
}

.message-loading-container {
    width: 30px;
    height: 30px;
}

.message-image-container {
    max-height: 600px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.message-video-container {
    width: 100%;
    max-height: 600px;
}